{% extends 'shop/basic.html' %}
{% block title %}Home{% endblock title %}

{% block style %}
.prod-img{
  height: 200px;
  width: 300px;
}

{% endblock style %}


{% block body %}
<!--Carousel -->
{% load static %}

<!--Card View-->
<div class="container">
{% for products, range, nSlides in allProducts %}
<h2>{{products.0.category}}</h2>
<div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 0"></button>
    {% for i in range %}
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{i}}" aria-label="Slide {{i}}"></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="card" style="width: 18rem;">
          <img src="/media/{{products.0.image}}" class="card-img-top prod-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{products.0.product_name}}</h5>
            <p class="card-text">{{products.0.desc}}</p>
            <a href="#" class="btn btn-outline-dark">Add to cart</a>
          </div>
        </div>

        {% for i in products|slice:'1:' %}
        <div class="card" style="width: 18rem;">
          <img src="/media/{{i.image}}" class="card-img-top prod-img" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{i.product_name}}</h5>
            <p class="card-text">{{i.desc}}</p>
            <a href="#" class="btn btn-outline-dark">Add to cart</a>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 and forloop.counter > 0 and not forloop.last %} 
        </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        {% endif %}
        {% endfor %}
  </div>
</div>
</div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% endfor %}
</div>
{% endblock body %}